

root { 
    display: block;
}

.heading1{font-family: Garamond, serif;
          line-height: 1em;
          color: #8c8cf7;
          font-weight:bold;
          font-size: 46px;
          text-shadow:0px 0px 0 rgb(87,87,194),1px 1px 0 rgb(43,43,150), 2px 2px 0 rgb(0,0,107),3px 3px 2px rgba(0,0,0,0.6),3px 3px 1px rgba(0,0,0,0.5),0px 0px 2px rgba(0,0,0,.2);
}


.heading2{
    font-family: Garamond, serif;
    line-height: 1em;
    color: #8c8cf7;
    font-weight:bold;
    font-size: 32px;
    text-shadow:0px 0px 0 rgb(87,87,194),1px 1px 0 rgb(43,43,150), 2px 2px 0 rgb(0,0,107),3px 3px 2px rgba(0,0,0,0.6),3px 3px 1px rgba(0,0,0,0.5),0px 0px 2px rgba(0,0,0,.2);
}
.cssTest{
    background: blueviolet;
    color: red;
    font-size: 20px;
}


.idCol{
    min-width: 50px;
    text-align: left;
    padding: 5px;

}

.nameCol{
    min-width: 200px;
    text-align: left;
    padding: 5px;
}

.numberCol {
    width: 100px;
    text-align: right;
    padding: 5px;
}

.textCol {
    text-align: left;
}


.printingReports{
    padding:20px;
    margin: 20px;
    width: 90%;
    font-size: 12px!important;
}

